ion-icon {
    color:rgb(245, 245, 245);
    --ionicon-stroke-width: 80px;
  }

.green{
  background-color: rgb(19, 82, 19);
}
.yellow{
  background-color: rgb(255, 30, 0);
}
.orange{
  background-color: rgb(25, 0, 255);
}
.red{
  background-color: rgb(0, 238, 255);
}

.purple{
  background-color: rgb(0, 0, 0);
}
